.aboutContent {
	padding: 0 40px 40px 40px;
	text-align: left;
	font-size: 36px;
}

.creditBox {
	margin-bottom: 150px;
	padding: 0 40px 40px 40px;
	font-size: 36px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}

.creditBox div {
	text-align: left;	
	font-size: 24px;
}