/*Title of page*/
.sub {
	border-bottom: 1px, solid, white;
	color: orange;
	text-align: center;
	font-size: 45px;
}
/*division of page*/
.span2 {
	width: 10%;
	display: inline-block;
}

.span8 {
	width: 60.1%;
	display: inline-block;
}

.span1 {
	width: 15%;
	display: inline-block;
}

.span3 {
	widows: 90px; %;
	display: inline-block;
}
/*our photo*/
img {
	display: block;
	max-width: 130%;
	height: auto;
}

.row {
	margin-top: 20px;
}

/*description of what we are*/
.whoweare {
	color: white;
	padding: 0;
	margin: 20px;
	font-size: 30px;
}

