* {
	margin: 0;
	padding: 0;
}

html {
	/*height: 100%;*/
	min-height: 100%;
	box-sizing: border-box;
	font-size: 16px;
}

body {
	width: 100%;
	/*height: 100%;*/
	min-height: 100%;
	box-sizing: border-box;
	margin: auto;
	font-family: 'Josefin Sans', sans-serif;
	background-image: url("../Images/food.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	letter-spacing: 0.2em;
	border-radius: 25px;
}

h1 {
	font-size: 56px;
	opacity: 1;
}

.navIcon {
	position: absolute;
	left: 60px;
	top: 35px;
}

.topBar {
	background-color: rgba(0, 0, 0, 0.6);
	padding-top: 60px;
	padding-bottom: 60px;
}

.topBarTitle {
	color: orange;
	text-align: center;
	letter-spacing: 0.5em;
}

.navBar {
	position: absolute;
	z-index: 1;
	/*top: 0;*/
}

.navBarList {
	display: inline-block;
	color: orange;
	font-size: 36px;
	text-align: center;
	font-weight: bold;
}

.navBarPlaceholder {
	height: 101.6px;
	line-height: 101.6px;
	vertical-align: middle;
	padding-right: 10px;
	padding-left: 10px;
}

.navBarItem {
	background-color: rgba(86, 79, 71, 1);
	height: 200px;
	width: 200px;
	line-height: 200px;
	vertical-align: middle;
	/*margin-top: 1px;*/
	border-top: 1px solid white;
	padding-right: 10px;
	padding-left: 10px;
}

.navLink {
	text-decoration: none;
	color: white;
	z-index: 1;
}

.navBarItem:active {
	background-color: rgba(255, 0, 0, 1);
}

.navBarListAlt {
	text-align: center;
	padding: 10px;
	background-color: black;
	opacity: 0.5;
}

.navBarItemAlt {
	display: inline;
	color: white;
	font-size: 28px;
	padding: 10px 20px;
}

.visible {
	visibility: visible;
	display: block;
}

.hidden {
	visibility: hidden;
	display: none;
}