/* The description boxes */
.content {
	width: 100%;
	height: 300px;
	overflow: auto;
	font-size: 30px;
	color: white;
	letter-spacing: 2px;
}

/* The outside frame for box */
.box {
	border-radius: 25px;
	border: 3px solid orange;
	padding: 50px 50px;
	font-size: 36px;
	margin-top: 50px;
	background-color: rgba(0, 0, 0, 0.6);
	box-sizing: border-box;
}

/* The Main headings */
h2 {
	color: orange;
	text-align: center;
}

/* The subheadings */
h3 {
	color: orange;
}

/* Stretches image to full */
html {
	box-sizing: border-box
}

body {
	box-sizing: border-box
}

#star{color:orange;}

#recipeList {
	width: 100%;
	color: white;
}

#recipeList td {
	color: orange;
	font-weight: bold;
	box-sizing: border-box;
}

#recipeList tr:not(:nth-of-type(1)) .recipeTitle {
	padding-top: 50px;
}

#recipeList tr:not(:nth-of-type(1)) .recipeAuthor {
	padding-top: 50px;
}

#recipeList tr:not(:nth-of-type(1)) .recipeRating {
	padding-top: 50px;
	text-align: right;
}

.recipeRating {
	text-align: right;
}

.recipePicture {
	height: 350px;
	overflow: scroll;
}

.front {
	background-image: url("../Images/sampleFood.jpg");
	background-size: cover;
	border: 5px solid white;
	border-radius: 25px;
	/*padding-top: 20px;*/
}

.back {
	overflow: scroll;
	color: white;
	font-weight: normal;
	padding-top: 20px;
}