 .q{
	 
	 margin-top:20px;
 }
.input_text
{
	width:auto;
}
input{
	margin-left:10px;
}
.delButton{
	margin-left:20px;
	background-color:inherit;
	border:none;
	cursor:pointer;
	
}
.delButton:hover{
	font-weight:bold;
}

.answer_label{
	margin-right:10px;
	margin-left:15px;
	margin-bottom:auto;
	/*padding-botton:5px;*/
}

.answersDiv{
	width:fit-content;
}
.questionDiv{
	font-size: 2em;
	margin-top:20px;
	margin-bottom:10px;
}