#rightcol0 {
	float: left;
	margin-left: 80px;
}

#leftcol0 {
	float: left;
	margin-left: 90px;
}

/* Size for icons */
.img1 {
	width: 200px;
	height: 200px;
}

/* The description boxes */
.content {
	width: 470px;
	height: 250px;
	overflow: auto;
	font-size: 30px;
	color: white;
	letter-spacing: 2px;
}

/* The outside frame for box */
.box {
	border-radius: 25px;
	border: 3px solid orange;
	padding: 40px 20px;
	font-size: 36px;
	margin-top: 50px;
	background-color: rgba(0, 0, 0, 0.6);
	height: 1400px;
}

/* The Main headings */
h2 {
	color: orange;
	text-align: center;
}

/* The subheadings */
h3 {
	color: orange;
}

/* Stretches image to full */
html {
	box-sizing: border-box
}

body {
	box-sizing: border-box
}